*{
    margin:0;
    padding: 0;
}

body{
    background:linear-gradient(1deg, #820000 0%, #1C0000 100%);

    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.LoginPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100%;
    position: relative; 
}

.wmsuHeader{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative; 
    color: #D9D9D9; 
    font-size: 30px; 
    font-family: Inter; 
    font-weight: 700;
    text-align: justify;
    letter-spacing: 1px;
}


img{
    width: 200px; 
    height: 200px;
}

.logo{
    width: 200px; 
    height: 200px; 
    margin: 20px;
    background: #D9D9D9;
    position: relative;
    box-shadow: 0px 0px 10px 3px #D9D9D9; 
    border-radius: 200px;
}


.Login_container{
    flex-wrap: wrap;
    width: 402px;
    height: 478px; 
    position: relative;

    background: #D9D9D9; 
    box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.Login_container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input{
    height: 30px;
    width: 300px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #820000;
    margin: 15px;

}

.form input:focus{
    outline: none;
}

.form .email{
    margin-top: 130px;
}

::placeholder{
    font-size: 12px;
}

.button{
    height: 40px;
    width: 300px;
    margin: 30px;
    position: relative;
    background-color:#820000;
    border: none;
    cursor: pointer;
}

.button a{
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    color: #D9D9D9;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.button:hover{
    background: red;
    color: red;
}


.forgotPass{
    font-size: 15px;
    font-weight: bold;
}

.forgotPass a{
    text-decoration: none;
    color:#820000;
}


@media screen and (max-width: 758px) {
    .wmsuHeader{
        font-size: 15px;

    }
    .Login_container{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height:600px;  
        width: 100%;
    }

    .button{
        border-radius: 5px;
    }
}